/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Colors and Styles (Defauly) */
:root {
  --primaryColor: #002A48;
  --secondaryColor: #003459;
  --whiteColor: #FDFDFD;
  --blackColor: #00171F;
  --textColor: #242B33;
  --inputColor: #99A2A5;

  /* Font and Typography */
  --h1FontSize: 54px;
  --h1SubFontSize: 40px;
  --h2FontSize: 46px;
  --h2SubFontSize: 30px;
  --h3FontSize: 16px;
  --normalFontSize: 14px;
  --smallFontSize: 8px;
}
body {
  font-family: 'Poppins', sans-serif;
}

/* Body style */
.container {
  padding: 0 130px;
}

/* Header style */
.header {
  position: sticky;
  top: 0;
  background-color: #FCEED5;
  z-index: 1000;
}
.header .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .header-nav {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .nav {
    text-decoration: none;
    color: var(--secondaryColor);
    font-size: var(--h3FontSize);
    font-weight: 700;
  }

  .header-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  .form-search {
    width: 280px;
    height: 46px;
    display: flex;
    align-content: center;
    align-items: center;
    border-radius: 46px;
    background-color: var(--whiteColor);
    color: var(--inputColor);
    font-weight: 500;

    img {
      height: 20px;
      padding: 0 12px;
    }
  }

  .btn-primary {
    font-weight: 700;
  }
}

/* Section banner */
.section-banner .container {
  display: flex;

  .section-content {
    padding-top: 80px;
    color: var(--primaryColor);
  }

  .section-title {
    line-height: 60px;
    font-size: var(--h1FontSize);
    font-weight: 800;
    text-transform: capitalize;
  }

  .section-subtitle {
    width: 452px;
    font-size: var(--h1SubFontSize);
    font-weight: 700;
  }

  .section-description {
    width: 452px;
    line-height: 24px;
    padding: 24px 0;
    font-size: var(--normalFontSize);
  }

  .section-btn {
    height: 48px;
    display: flex;
    gap: 18px;
  }

  .section-img {
    height: 611px;
    width: auto;
    overflow: hidden;
    position: relative;
  }

  .section-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-left: 48px;
  }
}

.banner-main {
  background-color: #FCEED5;
  border-radius: 0 0 40px 40px;
}

.navigation .list-nav {
  display: flex;
  justify-content: space-between;

  .nav {
    padding: 0 24px;
    text-decoration: none;
  }
}

.switcher-currency {
  display: flex;
  gap: 6px;

  .currency {
    font-size: var(--h3FontSize);
    font-weight: 500;
    align-self: center;
    color: var(--primaryColor);
  }
}

input {
  border: none;
  font-size: var(--normalFontSize);
  color: var(--inputColor);
  font-weight: 500;
}

.btn {
  padding: 16px 28px;
  border-radius: 57px;
  border: none;
  font-size: var(--normalFontSize);
  font-size: 500;
  display: flex;
  align-items: center;
  align-content: center;
}

.btn-primary {
  background-color: var(--primaryColor);
  color: var(--whiteColor);
}

.btn-outline {
  background-color: transparent;
  border: 1.5px solid var(--primaryColor);
  color: var(--secondaryColor);
}